<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-success">
        <a class="navbar-brand text-white" href="/">Plasma Donor Application</a>
    </nav>
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5">About Us</h2>
            <div data-aos="zoom-in">
                <p>This Plasma Donor application project is aimed at developing a web application that connects plasma requesters directly to donors and make their needs fulfill as soon as possible. This web application gets basic information of donors and requesters and store it in a database. When a patient needs plasma of any blood group in any place, he/she will make a request through their admitted hospital in this application. Following the request, an alert mail will be sent to the donors with that specific blood group and are located around the hospital area. On receiving the mail, eligible and interested donor will go to the hospital and donate plasma. After successful completion of plasma donation, an update mail will also be sent to those whose received alert mail regarding the fulfilled plasma need.
                    </p>
            </div>
        </div>
    </section>


</body>

</html>