
{% extends 'profile.html' %}


{% block content %}

    <form action="/requestform" method="post">
      Name :<br>
      <input  name='name' style="border:1px solid rgb(2, 85, 124);background-color:#eafafb;"><br>
      
      Blood Group: <br>
      <input  name='bg' style="border:1px solid rgb(2, 85, 124);background-color:#eafafb;"><br>
    
      City:<br>
      <input type="text" name='city' style="border:1px solid rgb(2, 85, 124);background-color:#eafafb;"><br>
    
      Hospital Name :<br>
      <input  type="text" name='hosp' style="border:1px solid rgb(2, 85, 124);background-color:#eafafb;"><br><br>
    
      <input type="submit" value="Submit" style="border:1px solid rgb(2, 85, 124);background-color:#3ab73c;">
    </form>
     

{% endblock content %}