<section id="about" class="contianer-fluid about-us">
    <div class="container">
        <div class="row session-title">
            <h2><u>About Us</u></h2>
           
        </div>
         <div class="row">
             <div class="col-md-6 text">
                 <h2>About Plasma Donars</h2>
                 <p>when a patient needs plasma, he/she has to contact a Medical center or a compatible blood group of a donor in their circle, family, and friends. However, it is difficult to find suitable donor within a limited group of people in a given time. In addition, there is no guarantee that Medical center will have compatible plasma in stock. There is also steady increase in plasma donation requests posts in social networking sites (like Facebook, twitter, Instagram, etc.) requesting for donation.</p>
                 <p>Ease of access, requirements of plasma, and the plasma donation statistics are taken into consideration while researching the topic. There is a steady need for plasma.</p>
                 <p>Although this application helps finding donors, but the ease of communication with those donors is not prompt and it requires man power as the requester (patient or clinic) has to contact each donor individually. Also, there is no application that provides a proper communication channel to notify donors about the plasma donation requirements.</p>
                 <p>Our application provides donors with functionalities including “plasma request”, “Ask for donation”, “share with friend”,(slot alloted to donate plasma), at the same time the recipient can send requests and use this application to maintain the donation activities.</p>
             </div>
             <div class="col-md-6 image">
                 <img src="https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/about.jpg" alt="">
             </div>
         </div>
    </div>
</section>