<!--################### Our Blog Starts Here #######################--->
              <div id="blog" class="blog-container contaienr-fluid">
                <div class="container">
                    <div class="session-title row">
                      <h2><u>Latest Blog</u></h2>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vel nisl a dictum. Donec ut est arcu. Donec hendrerit velit consectetur adipiscing elit.</p> -->
                    </div>
                    <div class="row news-row">
                        <div class="col-md-6">
                            <div class="news-card">
                                <div class="image">
                                    <img src="https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/blog_01.jpg" alt="">
                                </div>
                                <div class="detail">
                                    <h3>Give Thanks, Give Blood</h3>
                                    <p>Blood donors share life. And for that, thousands of people are thankful that blood donors give generously. After donating blood,we wants to thank our loyal platelet donors with a t-shirt they can wear loud and proud... </p>
                                    <p class="footp">
                                        10 Comments <span>/</span>
                                        Blog Design <span>/</span>
                                        Read More
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-card">
                                <div class="image">
                                    <img src="https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/blog_02.jpg" alt="">
                                </div>
                                <div class="detail">
                                    <h3>Donar Celebrate Milestone</h3>
                                    <p>A few Greenwood donors have gone above and beyond in their blood donation journeys to save hundreds of local lives! These donors are great examples of loyal, local lifesavers Thank you for your continuous blood donations!</p>
                                    <p class="footp">   
                                        17 Comments <span>/</span>
                                        Blog Design <span>/</span>
                                        Read More
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-card">
                                <div class="image">
                                    <img src="https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/blog_03.jpg" alt="">
                                </div>
                                <div class="detail">
                                    <h3>Plasma Donation Do’s and Don’ts</h3>
                                    <p>Whether you’re a new or returning plasma donor, or someone who is curious about giving plasma, you probably have some questions about the donation process. In this blog, we’re breaking down the do’s and don’ts of plasma donation... </p>
                                    <p class="footp">
                                        09 Comments <span>/</span>
                                        Blog Design <span>/</span>
                                        Read More
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="news-card">
                                <div class="image">
                                    <img src="https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/blog_04.jpg" alt="">
                                </div>
                                <div class="detail">
                                    <h3>How often can I donate plasma?</h3>
                                    <p>To ensure your continued health and safety during plasma donation, there are Have you decided to donate blood for research? By donating blood for research purposes, you are contributing to the medical and scientific breakthroughs... </p>
                                    <p class="footp">
                                        14 Comments <span>/</span>
                                        Blog Design <span>/</span>
                                        Read More
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-dark text-center text-white">

            
                  </section>